<div class="country-show">
    <%=@country.name%>
</div>
<body class="city-body">
<h1><%= "Digital Nomad Cities in #{@country.name}" %></h1>

    <% @country.cities.each do |c| %>
   <p><%= link_to c.name, city_path(c), :class=>"links"%></p>
    <%end%>

 </body>