<h1><%= @city.name %></h1>

<h2><%= link_to @city.country.name, country_path(@city.country) %></h2>

<h3><%= "Properties available in #{@city.name} this week!" %></h3>
<ul>
<% @city.available_properties.each do |property|%>
   <li><%= link_to property.title, property_path(property.id) %></li>
<%end%>
</ul>
